@model IEnumerable<Reservation>
@{
    ViewData["Title"] = "ResInfoWithLogin";
}
<br />
<br />
<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MovieName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeatNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateAndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HallName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MovieName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SeatNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateAndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HallName)
                </td>
                
            </tr>
        }
    </tbody>
</table>

